*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(61, 55, 55);
    font-family: 'Advent Pro';
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track{
    border-radius: 3px;
}
::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background: #fff;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #fff; 
}
::-webkit-scrollbar-button{
    border-radius: 3px;
    background: #fff;
}
::-webkit-scrollbar-track-piece{
    background: rgba(84, 95, 85, 0.753);
}
.menu{
    position: fixed;
    z-index: 15;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 20px;
}
.menu1{
    width: 20px;
    height: 2px;
    background: whitesmoke;
    margin: 5px;
    transition: 0.6s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -6px);
    transform: rotate(45deg) translate(-4px, -6px);
  }
.menu2{
    position: fixed;
    top: 1%;
    left: 1%;
    z-index: 15;
    width: 400px;
}
.menu3{
    color: whitesmoke;
    display: inline-block;
    padding: 4%;
    cursor: pointer;
    opacity: 0;
    transition: 0.8s;
    background: rgba(150, 142, 151, 0.13);
}
.menu4{
    opacity: 1;
}

#pp{
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    right: 0;
    background: #212121;
    z-index: -10;
}
#pp .sp{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url("http://zornet.ru/Aben/7e56.gif") no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}
.fon{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -9;
    overflow: hidden;
    background: rgb(61, 55, 55);
}
.fon1{
    width: 1800px;
    height: 800px;
    background-image: linear-gradient(70deg, rgba(12, 14, 19, 0.719), rgba(7, 9, 10, 0.623), transparent);
    animation-name: fon1;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
@keyframes fon1{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        transform-origin: 50% 1%;
        transition-timing-function: linear;
    }
}
.fon2{
    width: 800px;
    height: 1400px;
    margin-top: -587px;
    background-image: linear-gradient(70deg, rgba(31, 34, 41, 0.658), rgba(19, 22, 24, 0.5), transparent);
    animation-name: fon2;
    animation-duration: 110s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
@keyframes fon2{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        transition-timing-function: linear;
    }
}
.fon3{
    width: 1500px;
    height: 1200px;
    margin-top: -1174px;
    background-image: linear-gradient(70deg, rgba(91, 92, 95, 0.658), rgba(16, 17, 17, 0.5), transparent);
    animation-name: fon3;
    animation-duration: 150s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
@keyframes fon3{
    from{
        transform: rotate(80deg);
    }
    to{
        transform: rotate(440deg);
        transition-timing-function: linear;
    }
}
.fon4{
    width: 2000px;
    height: 800px;
    margin-top: -1761px;
    background-image: linear-gradient(70deg, rgba(8, 8, 10, 0.658), rgba(4, 6, 7, 0.5), transparent);
    animation-name: fon4;
    animation-duration: 150s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform: rotate(60deg);
}
@keyframes fon4{
    from{
        transform: rotate(30deg);
    }
    to{
        transform: rotate(390deg);
        transition-timing-function: linear;
    }
}
.fon5{
    width: 2000px;
    height: 900px;
    margin-top: -848px;
    background-image: linear-gradient(70deg, rgba(1, 1, 2, 0.658), rgba(19, 22, 24, 0.5), transparent);
    animation-name: fon5;
    animation-duration: 130s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes fon5{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);   
        transition-timing-function: linear;
    }
}
.sleva{
    position: fixed;
    z-index: 15;
    top: 43%;
    left: 6.5%;
    width: 40px;
    height: 100px;
    transition-duration: 1s;
    cursor: pointer;
}
.sleva1{
    position: fixed;
    top: 47%;
    left: 8%;
    transition-duration: 0.5s;
}
.sleva1:hover{
    transform: scaleY(1.3);
    transition-duration: 0.5s;
}
.sleva2{
    width: 2px;
    height: 50px;
    background: white;
}
.sleva3{
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(45deg);
    position: absolute;
    left: -4px;
}

.sprava{
    width: 40px;
    height: 100px;
    transition-duration: 0.5s;
    position: fixed;
    z-index: 15;
    top: 43%;
    right: 6.5%;
    cursor: pointer;
}
.sprava1{
    position: fixed;
    top: 47%;
    right: 8%;
    transition-duration: 0.5s;
}
.sprava1:hover{
    transform: scaleY(1.3);
    transition-duration: 0.5s;
}
.sprava2{
    width: 2px;
    height: 50px;
    background: #fff;
    position: relative;
}
.sprava3{
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    position: absolute;
    bottom: 0px;
    left: -4px;
    transform: rotate(-45deg);
}

.lorem, .lorem-20, .lorem-30, .lorem-40, .lorem-50{
    padding-top: 14%;
    animation: pading 1.2s ease-out;
       
}

@keyframes pading{
    0%{
        padding-top: 14%;
        opacity: 0;
    }
    10%{
        padding-top: 34%;
        opacity: 0;
    }
    100%{
        padding-top: 14%;
        opacity: 1;
    }
}
.lorem1, .lorem1-20, .lorem1-30, .lorem1-40, .lorem1-50{
    background-color: transparent;
    color: white;
}
.lorem2, .lorem2-20, .lorem2-30, .lorem2-40, .lorem2-50{
    position: absolute;
    z-index: 8;
    top: 34%;
    background-color: rgba(24, 27, 29, 0.747);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    clip-path: url(#svgPath2);
    
    color: white;
    animation: pading2 1.2s ease-out;
    
    clip-path: polygon(54% 60%, 53% 61%, 53% 61%);
    animation: mymove 4s;
    clip-path: polygon(39% 41%, 63% 41%, 62% 41%, 40% 41%);
    animation: mymove1 4s;
}
@keyframes pading2{
    0%{
        padding-top: 14%;
        opacity: 0;
        top: 14%;
    }
    10%{
        padding-top: 34%;
        opacity: 0;
        top: 34%;
    }
    100%{
        padding-top: 14%;
        opacity: 1;
        top: 14%
    }
}

@keyframes mymove1{
    0%{clip-path: polygon(0 16%, 80% 0%, 100% 80%, 0 64%);}
    100%{clip-path: polygon(39% 41%, 63% 41%, 62% 41%, 40% 41%);}
}
@keyframes mymove{
    0%{clip-path: polygon(85% 99%, 34% 100%, 54% 0);}
    100%{clip-path: polygon(54% 60%, 53% 61%, 53% 61%);}
}
h1{
    font-size: 4em;
    margin-bottom: 8%;
}
h2{
    font-size: 3em;
    margin-top: 15%;
    margin-bottom: 4%;
}
p{
    font-size: 2em;
    color:rgb(221, 223, 226);
    font-weight: lighter;
    user-select: none;
    padding-bottom: 10%;
    border-bottom: 1px solid rgb(87, 86, 86);
}
h1, h2{
    color: #fff;
    font-weight: lighter;
    user-select: none;
}

.img1, .img1-20, .img1-30, .img1-40, .img1-50, .img2, .img2-20, .img2-30, .img2-40, .img2-50, .img3, .img3-20, .img3-30, .img3-40, .img3-50{
    
    /*background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;*/
    margin-top: 15%;
    border-bottom: 1px solid rgb(87, 86, 86);
}
.img1, .img1-20, .img1-30, .img1-40, .img1-50{
    border-bottom: none;
}
.panorama, .panorama-20, .panorama-30, .panorama-40, .panorama-50, .bak450, .bak450-20, .bak450-30, .bak450-40, .bak450-50{
    width: 100%;
    height: auto;
    padding-bottom: 8%;
}
.panorama, .panorama-20, .panorama-30, .panorama-40, .panorama-50{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.img, .img-20, .img-30, .img-40, .img-50{
    margin-bottom: 15%;
}
.p_2, .p_3, .p_4, .p_5{
    display: none;
}

.row1::after, .row-20::after, .row-30::after, .row-40::after, .row-50::after{
    content: "";
    clear: both;
    display: table;
}
[class*="col-"]{
    float: left;
    padding: 2px;
    width: 100%;
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    /* Для планшетов: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .lore, .lore-20, .lore-30, .lore-40, .lore-50{
        width: 100%;
        padding: 0 5%;
    }
    .sleva, .sprava{
        display: none;
    }
    h1{
        font-size: 1.7em;
    }
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 1em;
    }
}
@media only screen and (min-width: 768px) {
    /* Для настольных компьтеров: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (max-width: 599px) {
    /* Для телефонов: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .lore{
        width: 100%;
        padding: 0 5%;
    }
    .sleva, .sprava{
        display: none;
    }
    h1{
        font-size: 1.3em;
    }
    h2{
        font-size: 1.1em;
    }
    p{
        font-size: 0.8em;
    }
}

.svg, .svg-20, .svg-30, .svg-40, .svg-50, .svg2, .svg2-20, .svg2-30, .svg2-40, .svg2-50{font-weight:bold;max-width:600px;height:auto;}

.sl-sh-con, .sl-sh-con-20, .sl-sh-con-30, .sl-sh-con-40, .sl-sh-con-50{
    max-width: 1000px;
  position: relative;
  margin: auto;
}
.fade, .fade-20, .fade-30, .fade-40, .fade-50 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    0% {opacity: .4;
        
    } 
    to {opacity: 1;
        
    }
  }
  
  @keyframes fade {
    from {opacity: .4;
        
    } 
    to {opacity: 1;
        
    }
  }
.lore0, .lore0-20, .lore0-30, .lore0-40, .lore0-50{
    transition: all 2s;
    opacity: 0;
    animation: animat 0.5s ease-out;
}
@keyframes animat{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
.poyavlenie, .poyavlenie-20, .poyavlenie-30, .poyavlenie-40, .poyavlenie-50{
    margin-bottom: 0;
    position: fixed;
    top: 9%;
    left: 13%;
    right: 13%;
    width: 74%;
    height: 80%;
    transition: all 2s;
    animation: poyavlenie1 2s ease-out;
}
@keyframes poyavlenie1{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#poyavlenie, #poyavlenie-20, #poyavlenie-30, #poyavlenie-40, #poyavlenie-50{
    display: none;
}
.blok-1, .blok-1-20, .blok-1-30, .blok-1-40, .blok-1-50{
    transition: all 1s;
    
}

.blok-, .blok--20, .blok--30, .blok--40, .blok--50{
    display: none;
    width: 100%;
    height: 100%;
}
.pchela, .pchela-20, .pchela-30, .pchela-40, .pchela-50{
    position: relative;
}
.pchela2, .pchela2-20, .pchela2-30, .pchela2-40, .pchela2-50{
    font-size: 4em;
    
    padding: 5%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    position: fixed;
    transition: all 2s;
    display: none;
}

.pchela2p, .pchela2p-20, .pchela2p-30, .pchela2p-40, .pchela2p-50{
    font-size: 4em;
    
    padding: 5%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    position: fixed;
    transition: all 2s;
    
    animation: pchel 2s;
}
@keyframes pchel{
    0%{
        display: none;
    }
    50%{
        display: none;
    }
    100%{display: block;}
}


  .solgo2, .solgo2-20, .solgo2-30, .solgo2-40, .solgo2-50{
    width: 30px;
    height: 2px;
    background: white;
    position: relative;
  }
  .solgo3, .solgo3-20, .solgo3-30, .solgo3-40, .solgo3-50{
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(-45deg);
    position: absolute;
    top: -4px;
  }
  .ongo2, .ongo2-20, .ongo2-30, .ongo2-40, .ongo2-50{
    width: 30px;
    height: 2px;
    background: white;
    position: relative;
  }
  .ongo3, .ongo3-20, .ongo3-30, .ongo3-40, .ongo3-50{
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(135deg);
    position: absolute;
    right: 0;
    top: -4px;
  }
  .solgo1, .solgo1-20, .solgo1-30, .solgo1-40, .solgo1-50, .ongo1, .ongo1-20, .ongo1-30, .ongo1-40, .ongo1-50{
      position: absolute;
      top: 5%;
      
      transition: 0.6s ease-out;
        cursor: pointer;
  }
  .solgo1, .solgo1-20, .solgo1-30, .solgo1-40, .solgo1-50{
      padding: 20% 40% 20% 5%;
  }
  .ongo1, .ongo1-20, .ongo1-30, .ongo1-40, .ongo1-50{
      right: 0;
      padding: 20% 5% 20% 40%;
  }
  .dot0, .dot0-20, .dot0-30, .dot0-40, .dot0-50{
      text-align: center;
  }
  .span0, .span0-20, .span0-30, .span0-40, .span0-50{
      padding: 5px;
      display: inline-block;
    cursor: pointer;   
      
  }
  .dot, .dot-20, .dot-30, .dot-40, .dot-50{
      width: 20px;
      height: 2px;
      
      display: inline-block;
      border-radius: 0.3px;
      background-color: rgb(73, 71, 71);
      transition: background-color 0.6s ease-out;
  }
  .active, .active-20, .active-30, .active-40, .active-50{
      background-color: white;
  }
  .why, .why-20, .why-30, .why-40, .why-50{
      padding-bottom: 30%;
  }
